nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  a(href='#').navbar-brand weblog
  .collapse.navbar-collapse#navbarsExampleDefault
    ul.navbar-nav.mr-auto
      li.nav-item
        a(href='').nav-link Search
      li.nav-item
        a(href='').nav-link Account