nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a(href="/").navbar-brand Weblog
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/search") search
        li
          a(href="/account") account