nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a(href="/").navbar-brand Weblog
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/search") search
        li
          a(href="/account") account
      //- - console.log(locals.user)
      if locals.user
        form(action="/account/logout", method="post").navbar-for.navbar-right
          div.form-group
            input(type="submit", value="logout").btn.btn-default