<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title リクエスト情報
  body
    h1 Node.js + Express の世界へようこそ
    p あなたは #{count} 回目の訪問です。