<!DOCTYPE html>
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 404: Not Found
    include ./_share/stylesheets.pug
  body
    include ./_share/navbar.pug
    main.container
      .border-bottom.mt-5.mb-5
        h1 404: Not Found
      h2 リクエスト
      table.table.table-bordered
        colgroup
          col(style="width:30%")
          col(style="width:70%")
        tr
          th リクエスト
          td
            span  #{data.method}
            span  #{data.url}
            - var protocol = (data.protocol || '').toUpperCase()
            span  #{protocol}
            span  #{data.version}

    include ./_share/javascripts.pug

