<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Welcome Page
    include ./_share/stylesheets.pug
  body
    include ./_share/navbar.pug
    main.container
      .border-bottom.mt-5.mb-5
        h1 ようこそ Node.js + Express の世界へ
      p.lead Use this document as a way to quickly start any new project.
    include ./_share/javascripts.pug

