<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title リクエスト情報
  body
    h1 Node.js + Express の世界へようこ
    p 本レクチャーではリクエスト情報の中身について学習します。
    div 次は
      a(href!="/?next=chapter12&amp;user=123") こちら