<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Regist New Post Complete !!
    include ./_share/stylesheets.pug
  body
    include ./_share/navbar.pug
    .container
      .page-header
        h1 新規記事登録
      .alert.alert-success
        i.fa.fa-check.fa-fw
        span 登録完了しました。