<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    title sample
    link(rel="stylesheet", href="/public/third_party/bootstrap/css/bootstrap.min.css")
  body
    .container
      h1 Hello World
      p Node.js + Express を利用したWebアプリケーション開発。
      | 最初のサンプル。